<h1>Welcome!</h1>
<h2>I hope you enjoy my journey in becoming a master Jedi</h2>
<p></p>

<% @blog.each do |t| %>
<p>
  <%= link_to "/blog/#{t.id}" do %>
    <%= t.title %>
  <% end %>
</p>

<p>
  <%= t.body %>
</p>

<% end %>
<%= link_to new_blog_path do %>
  Add Yo Thoughts!
  <% end %>
